header {
  position: absolute;
  opacity: 0.8;
}
.section1 {
  position: relative;
  min-height: 100vh;
}
.section1 > video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.section1 > .reservation {
  position: absolute;
  left: 5%;
  width: 20%;
  top: 30vh;
}
.section1 > .reservation > .description {
  background: #ffffffa8;
  padding: 8px;
  text-align: center;
}
.section1 > .reservation > .reserveBtnContainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.reserveBtnContainer > .reserveBtn {
  background-color: #afb4f4;
  border: 1px solid #9298f2;
  color: #000;
  font-weight: 900;
  padding: 10px 60px;
}
.section1 > .menuContainer {
  position: absolute;
  width: 100vw;
  bottom: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
}
.menuContainer > ul {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.4rem;
}
.menuContainer li > a {
  color: #fff;
}
.menuContainer li > a:hover {
  color: #afb4f4;
}
/* 
section 2: image slider
 */
.section2 {
  position: relative;
  padding: 70px;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}
.section2 .image_container {
  display: flex;
  justify-content: space-around;
  margin: 0px 20%;
}
.section2 .image_container > img {
  width: 30%;
  max-width: 30%;
  border-radius: 20px;
}
.section2 .carousel-indicators {
  bottom: -45px;
}
@media (max-width: 500px) {
  .section2 .image_container {
    flex-direction: column;
  }
  .section2 .image_container > img {
    max-width: none;
  }
  .section2 .image_container > img {
    width: 100%;
    border-radius: 0px;
  }

  .section2 {
    position: relative;
    padding: 0px;
    text-align: center;
  }
  .menuContainer > ul {
      flex-direction: column;
  }
}
@media (max-width: 1200px) {
    .menuContainer > ul {
        width: 100%;
        font-size: 1.4rem;
      }
}
@media (max-width: 1200px) {
  .section2 .image_container {
    display: flex;
    justify-content: space-around;
    margin: 0px 8%;
  }
}

/* 
section 3: about us
 */

.ceo_image {
  width: 100%;
  height: 160%;
  border-radius: 20px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.section3 .image-container {
  height: 75vh;
}
.section3 .text-container {
  border-radius: 20px;
}
.section3 .text-container p {
  text-align: justify;
}
.section3 > .text-wrapper {
  display: flex;
  align-items: center;
}

/* image modal */
/* Style the Image Used to Trigger the Modal */
.galleryImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .galleryImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .imageModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 99;
  }
  
  /* Modal Content (Image) */
  .imageModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .imageModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .imageModal .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }